{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
    <div class="row" style="margin-top: 50px">
        <div class="col-md-5">
            <img src="/uploads/{{ product.illustration }}" alt="{{ product.name }}" class="img-fluid" style="margin-left: 150px">
        </div>
        <div class="col-md-7 my-auto">
            <h3>{{ product.name }}</h3>
            <p>{{ product.subtitle }}</p>
            <p class="product-price">{{( product.price / 100)|number_format(2) }} €</p>
            <hr>
            <p>
                {{ product.description }}
            </p>
                {% if product.stock < 1 %}
                    <a class="btn btn-secondary disabled">Article épuisé</a>
                {% else %}
                    <a href="{{ path('add_to_cart',{'id': product.id } ) }}" class="btn btn-success form_validate" style="width: 25%">Ajouter au panier</a>
                {% endif %}
        </div>
    </div>
    <hr>
    <div class="title_best">
        <h3>Nos meilleures ventes</h3>
        <p>Découvrez les articles les plus vendus.</p>
    </div>

    <div class="row" style="margin-top: -30px">
        {% for product in products %}
            <div class="col-md-3">
                {% include 'product/single_product.html.twig' %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
