{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-5">
            <img src="/uploads/{{ product.illustration }}" alt="{{ product.name }}" class="img-fluid">
        </div>
        <div class="col-md-7 my-auto">
            <h3>{{ product.name }}</h3>
            <p>{{ product.subtitle }}</p>
            <p class="product-price">{{( product.price / 100)|number_format(2) }} €</p>
            <hr>
            <p>
                {{ product.description }}
            </p>
            <form action="{{ path('add_to_cart',{'id': product.id } ) }}" method="POST">
                <label for="quantity">Quantité :</label>
                <select name="quantity">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                {% if product.stock < 1 %}
                    <a class="btn btn-secondary disabled">Article épuisé</a>
                {% else %}
                    <a href="{{ path('add_to_cart',{'id': product.id } ) }}" class="btn btn-primary">Ajouter au panier</a>
                {% endif %}
            </form>

        </div>
    </div>
    <hr>
    <h3>Nos meilleures ventes</h3>
    <p>Découvrez les articles les plus vendus.</p>

{% endblock %}
